h1 {
  color: #007AFF; /* Change color to a blue shade */
  margin-bottom: 20px;
  border-bottom: none; /* Remove border-bottom */
  padding-bottom: 0; /* Remove padding-bottom */
  font-size: 24px; /* Increase font size */
}

#app {
  text-align: center;
  max-width: 400px; /* Reduce max-width */
  margin: 20px auto; /* Add more margin */
  background-color: #fff;
  padding: 20px;
  border-radius: 12px; /* Increase border-radius */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Use system font */
  margin: 0;
  padding: 0;
  background-color: #E5E5EA; /* Light gray background */
}

.input-container {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Center align items */
}

input[type="number"] {
  width: 100%; /* Take up full width */
  max-width: 300px; /* Limit maximum width */
  padding: 12px;
  border: 1px solid #007AFF; /* Blue border */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 10px; /* Add margin-bottom */
}

button {
  width: 100%; /* Take up full width */
  max-width: 300px; /* Limit maximum width */
  padding: 12px;
  background-color: #007AFF; /* Blue background */
  color: #fff;
  border: none;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
  background-color: grey; /* Darker blue on hover */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: normal;
  color: white; /* Blue color */
  padding: 0;
  margin: 0;
}